---
---
<div class="row">
    <div class="col col-sm-2 abbr">
      {% if entry.preview %}
          {% assign entry_path = entry.preview | prepend: '/assets/img/' %}
          {%
            include figure.liquid
            loading="eager"
            path=entry_path
            sizes = "200px"
            class="preview z-depth-1 rounded"
            zoomable=true
            alt=entry.preview
            link=entry.github
          %}
      {% endif %}
    </div>

  <div id="{{ entry.key }}" class="col-sm-8">
    <div class="title">{{ entry.title }}</div>
    <div class="subtitle">{{ entry.subtitle }}</div>
    
    <div class="links">
      {% assign langs = entry.languages | split: ", " %}
      {% for lang in langs %}
        {% if lang == "Swift" %}
          <img alt="Primary Language" src="https://img.shields.io/badge/Swift-F05138?logo=swift&logoColor=fff&style=flat">
        {% endif %}
        {% if lang == "C++" %}
            <img alt="Primary Language" src="https://img.shields.io/badge/C%2B%2B-00599C?logo=cplusplus&logoColor=fff&style=flat">
        {% endif %}
        {% if lang == "Python" %}
            <img alt="Primary Language" src="https://img.shields.io/badge/Python-3776AB?logo=python&logoColor=fff&style=flat">
        {% endif %}
      {% endfor %}
      {% if entry.github %}
          <a href="{{ entry.github | prepend: 'https://github.com/' }}"><img alt="GitHub Repository" src="https://img.shields.io/badge/GitHub-181717?logo=github&logoColor=fff&style=flat"></a>
      {% endif %}
      {% if entry.app_store %}
          <a href="{{ entry.app_store }}"><img alt="App Store" src="https://img.shields.io/badge/App%20Store-0D96F6?logo=appstore&logoColor=fff&style=flat"></a>
      {% endif %}
    </div>
  </div>
</div>